.first-cls{
    border-top: 1px solid;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.first-cls div{
    padding: 10px;
}

.cont{
        
    border: 1px solid;
    border-top: 0;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}